<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>TODO</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="description" content="TODO application built using Express JS, React JS and Mongodb" />
  <meta name="author" content="Ferry L. H." />
  <meta name="token" content="###TOKEN###" />
  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body>
  <div id="root"></div>
  <% for (var js in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[js] %>"></script>
    <% } %>
</body>

</html>